@import "./src/styles/colors";
@import "./src/styles/variables";
@import "./src/styles/fonts";

.navigation-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $toolbar-height;
  display: flex;
  align-items: center;
  @include font-style($font-xlarge, $color-navigation-bar-text, $font-weight-bold);
  background-image: linear-gradient(100deg, $color-navigation-bar-a 25%, $color-navigation-bar-b 100%);
  opacity: 0.9;
  z-index: 9999;
  //height: 60px;
  //background-color: #1976d2;

  img {
    margin: 0 32px;
  }

  .spacer {
    flex: 1;
  }

  .company-name  {
    margin: 0 64px 0 32px;
  }

  .menu-item {
    margin: 0 16px;
    transition: 0.5s ease-out;
  }

  .menu-item:hover {
    opacity: 0.6;
  }

  .social-logo {
    height: 40px;
    margin: 0 16px;
    transition: 0.5s ease-out;
    //opacity: 0.7;
    //transition: opacity 0.5s ease-in-out;
    //-webkit-transition: opacity 0.5s ease-in-out;
    //-moz-transition: opacity 0.5s ease-in-out;
    //-ms-transition: opacity 0.5s ease-in-out;
    //-o-transition: opacity 0.5s ease-in-out;
  }

  .social-logo:hover {
    transform: translateY(-0.4rem);
    //box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    //zoom: 1;
    //filter: alpha(opacity=50);
    //opacity: 1;
  }
}
