$color-green: #42BC4E;
$color-blue: #2271BF;
$color-navy: #1E1F52;

$color-pink: #E03E8A;
$color-orange: #EF873A;
$color-yellow: #F7D04B;
$color-red: #DB493A;

$color-darker-red: #541C16;
$color-dark-red: #A6372B;
$color-light-red: #FFAAA1;
$color-lighter-red: #FFE6E3;

$color-darker-blue: #1F2F40;
$color-dark-blue: #174B80;
$color-light-blue: #B8DBFF;
$color-lighter-blue: #E6F2FF;
$tropical-blue: #C2CFF9;
$color-message-banner-text: #223336;

$color-darker-green: #244527;
$color-dark-green: #2E8537;
$color-light-green: #8EDE96;
$color-lighter-green: #D6FFDA;
$granny-smith-apple: #84D896;

$color-darker-pink: #54253B;
$color-dark-pink: #8C2756;
$color-light-pink: #FFC9E2;
$color-lighter-pink: #FFE8F3;
$rose-bud: #F9B2B6;

$color-darker-orange: #573115;
$color-dark-orange: #AD632A;
$color-light-orange: #FFD5B5;
$color-lighter-orange: #FFF2E8;

$color-darker-yellow: #473C15;
$color-dark-yellow: #B39536;
$color-light-yellow: #FFE285;
$color-lighter-yellow: #FFF5D4;
$golden-sand: #F2DD77;

$color-black: #0E0F0F;
$color-neutral-darkest: #28282C;
$color-neutral-darker: #48484F;
$color-neutral-dark: #6E6E76;
$color-neutral-medium-dark: #9F9FA5;
$color-neutral-medium-light: #D4D4D7;
$color-neutral-light: #ECECF0;
$color-neutral-lighter: #F8F8FA;
$color-neutral-lightest: #FBFBFD;
$color-white: #FFFFFF;

$color-green-button: #42bc4e;
$color-outer-space: #28282c;

$color-navigation-bar-a: #1e3134;
$color-navigation-bar-b: #305765;
