<div class="home-page" role="main">
  <section id="home">
    <div class="shadow"></div>
    <div class="content-left">
      <span class="header">Ken Gabizon</span>
      <span class="sub-header">Full Stack Developer</span>
    </div>
    <div class="right">
      <h1>Test</h1>
    </div>
  </section>
  <section id="bio">
    <h1>Bio</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
  </section>
  <section id="skills">
    <h1>Skills</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
  </section>
  <section id="education">
    <h1>Education</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
  </section>
  <section id="experience">
    <h1>Experience</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
  </section>
  <section id="contact">
    <h1>Contact</h1>
    <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Commodi, quis!</p>
  </section>
</div>
